$button-height: 5rem; // Set the desired height
$button-width: 15rem; // Set the desired width

$body-color: #003566;
$button-color: #ffc300;
$button-color-hover: #ff9100;

.body {
  position: relative;
  background-image: linear-gradient(#00356671, #003566), url("../assets/inv.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .overlay-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffc40088;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #000;

    h1 {
      color: white;
      font-size: 60px;
    }

    p {
      color: white;
      width: 60%;
      font-size: 25px;
      margin: 20px auto;
    }

    button {
      color: white;
      border-radius: 1rem;
      height: $button-height;
      width: $button-width;
      margin: 1rem;
      background-color: rgba(0, 0, 255, 0);
      border: 1px solid white;
      font-size: 30px;
      .register-btn {
        color: white;
        text-decoration: none;
        &:hover {
          color: #003566;
        }
      }

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    nav {
      display: flex;
      align-items: center;

      a {
        color: $body-color;
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
      }
    }

    .button {
      color: $body-color;
      border-radius: 1rem;
      height: $button-height;
      width: $button-width;
      margin: 1rem;
      background-color: $button-color;
      border: none;
      font-size: 30px;
      .link {
        color: rgb(0, 0, 0);
        text-decoration: none;
      }

      &:hover {
        background-color: $button-color-hover;
      }
    }
  }
}

.dashboard-btn {
  height: $button-height;
  width: $button-width;
  color: $body-color;
  border-radius: 1rem;
  margin: 1rem;
  background-color: $button-color;
  border: none;
  font-size: 50px;

  &:hover {
    background-color: $button-color-hover;
  }
}
