// Header.scss

.navbar {
  background-color: #fff; // Set background color to white
  color: #333; // Adjust the text color as needed
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

.--fw-thin {
  font-weight: 300;
}

.--color-danger {
  color: red;
}

.btn {
  padding: 6px 12px;
  cursor: pointer;
}

.--btn-danger {
  background-color: red;
  color: #fff;
  border: none;
}
